.rag-red {
  width: 8px;
  height: 30px;
  background-color: red;
  margin-right: 10px;
  border-radius: 5px;
}

.rag-amber {
  width: 8px;
  height: 30px;
  background-color: orange;
  margin-right: 10px;
  border-radius: 5px;
}

.rag-green {
  width: 8px;
  height: 30px;
  background-color: green;
  margin-right: 10px;
  border-radius: 5px;
}

.rag-no-color {
  width: 8px;
  height: 30px;
  margin-right: 10px;
  border-radius: 5px;
}
