table {
  width: 100%;
}

tr.inbox-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.inbox-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.priority-icon {
display: contents;
}


.rag {
  width: 10px;
  height: 30px;
  background-color: red;
}
